@page "/"

@using BlazorContacts.Components
@using Microsoft.Extensions.Configuration
@using System.Net

@inject IConfiguration Configuration
@inject HttpClient HttpClient

<div class="container">

    <h1>Contact List</h1>

    <div class="row">
        @if (!IsLoading)
        {
            if (contacts.Count > 0)
            {
                foreach (var contact in contacts)
                {
                    <div class="col-4 p-3">
                        <ContactCard Contact="@contact"></ContactCard>
                    </div>
                }
            }
            else
            {
                <h3>No contacts to display!</h3>
            }
        }
        else
        {
            <div class="p-3">
                <h3>Loading...</h3>
            </div>
        }


    </div>

    <div class="row">
        <div class="col-3 pl-3">
            <input class="form-control" placeholder="First Name" @bind="newContact.FirstName">
        </div>
        <div class="col-3 pl-2">
            <input class="form-control" placeholder="Last Name" @bind="newContact.LastName">
        </div>
    </div>
    <div class="row">
        <div class="pl-3 pt-3">
            <button class="btn btn-primary" @onclick="AddContact">Add Contact</button>
        </div>
    </div>
</div>